/* body {
  background-color: yellow;
} */

/*
Classe é representada por ponto .
Id é representado por cerquilha #
*/

#selecionar .exemplo {
  height: 100px;
  /* width: 200px; */
  width: 50vw;
  border: 1px solid black;
  background-color: rgb(154,65,46);
  /* background-color: rgba(154,65,46,0.9); */
  /* background-color: #9A412E; */
  color: #fff;
}

#selecionar div.exemplo,
#selecionar header.exemplo {
  background-color: red;
}

#selecionar footer.exemplo {
  background-color: green;
  /* margin-bottom: 20px; */
  padding: 20px;
}

p {
  margin: 0;
}

#texto {
  border: 2px solid black;
  margin-top: 20px;
}

#texto p {
  border: 1px solid red;
  margin: 30px;
  /* margin: 30px 20px 10px 40px; */
  /* margin: 40px 20px; */
  /* margin: 40px 20px 10px; */
  padding: 30px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
